Repository Leets-Official/Gachtaxi-Mobile, pull requests merged in 2025-06, with the labels that each got.

#38 Feat: 마이 페이지 API 연결 및 UI 최신화
  android/app/src/main/res/drawable-night-hdpi/splash.xml
  android/app/src/main/res/drawable-night-mdpi/splash.xml
  android/app/src/main/res/drawable-night-xhdpi/splash.xml
  android/app/src/main/res/drawable-night-xxhdpi/splash.xml
  android/app/src/main/res/drawable-night-xxxhdpi/splash.xml
  android/app/src/main/res/drawable-v21/launch_background.xml
  android/app/src/main/res/drawable-v21/splash.xml
  android/app/src/main/res/drawable/launch_background.xml
  android/app/src/main/res/drawable/splash.xml
  android/app/src/main/res/values-night-v31/styles.xml
  android/app/src/main/res/values-v31/styles.xml
  lib/common/components/button.dart
  lib/common/constants/colors.dart
  lib/common/layout/default_layout.dart
  lib/common/layout/main_screen.dart
  lib/common/util/toast_show_utils.dart
  lib/domain/chat/presentation/widget/chat_member.dart
  lib/domain/home/components/custom_bottom_nav_bar.dart
  lib/domain/home/components/custom_top_bar.dart
  lib/domain/home/providers/ui/sheet_height_provider.dart
  lib/domain/home/services/matching_room_service.dart
  lib/domain/home/view/home_screen.dart
  lib/domain/home/view/tab-view/friend_list_screen.dart
  lib/domain/home/view/tab-view/manual_category_view/manual_matching_category_screen.dart
  lib/domain/home/view/tab-view/manual_category_view/my_matching_category_screen.dart
  lib/domain/home/view/tab-view/manual_matching_screen.dart
  lib/domain/home/view/tab-view/tab_view.dart
  lib/domain/my-page/components/logout_or_withdraw_modal.dart
  lib/domain/my-page/components/notice/notice_card.dart
  lib/domain/my-page/components/profile.dart
  lib/domain/my-page/model/my-info/my_info_model.dart
  lib/domain/my-page/model/notice/notices_model.dart
  lib/domain/my-page/providers/my-info/account_modify_provider.dart
  lib/domain/my-page/providers/my-info/info_modify_provider.dart
  lib/domain/my-page/providers/my-info/my_info_data_provider.dart
  lib/domain/my-page/providers/notice/notice_data_provider.dart
  lib/domain/my-page/providers/notice/notices_data_provider.dart
  lib/domain/my-page/services/my-info/account_modify_service.dart
  lib/domain/my-page/services/my-info/account_modify_service_provider.dart
  lib/domain/my-page/services/my-info/info_modify_service.dart
  lib/domain/my-page/services/my-info/info_modify_service_provider.dart
  lib/domain/my-page/services/my-info/my_info_service.dart
  lib/domain/my-page/services/my-info/my_info_service_provider.dart
  lib/domain/my-page/services/my-info/resign_service.dart
  lib/domain/my-page/services/notice/notice_service.dart
  lib/domain/my-page/services/notice/notice_service_provider.dart
  lib/domain/my-page/services/notice/notices_service.dart
  lib/domain/my-page/services/notice/notices_service_provider.dart
  lib/domain/my-page/view/account_number_modify_screen.dart
  lib/domain/my-page/view/my_page_screen.dart
  lib/domain/my-page/view/notice_screen.dart
  lib/domain/my-page/view/notices_screen.dart
  lib/domain/my-page/view/profile_modify_screen.dart
  lib/domain/sign-up/view/sign_up_screen.dart
  lib/main.dart
Labels: ✨Feature, 🔗API, 🎨Style

#39 Feat: 채팅 담당 UI 최신화
  assets/icons/kakaot.png
  assets/icons/kakaot.svg
  assets/icons/money_icon.svg
  assets/icons/tada.png
  assets/icons/tada.svg
  assets/icons/tmoney.png
  assets/icons/uber.png
  assets/icons/uber.svg
  lib/common/components/modal.dart
  lib/common/constants/colors.dart
  lib/domain/chat/data/models/response/chat_member_count_response.dart
  lib/domain/chat/data/models/response/chat_member_response.dart
  lib/domain/chat/presentation/state/chat_state.dart
  lib/domain/chat/presentation/view/chat_screen.dart
  lib/domain/chat/presentation/view/taxi_call_screen.dart
  lib/domain/chat/presentation/view_model/chat_view_model.dart
  lib/domain/chat/presentation/widget/account_modal.dart
  lib/domain/chat/presentation/widget/chat_action_bar.dart
  lib/domain/chat/presentation/widget/chat_enter_exit_message.dart
  lib/domain/chat/presentation/widget/chat_input.dart
  lib/domain/chat/presentation/widget/chat_member.dart
  lib/domain/chat/presentation/widget/chat_message.dart
  lib/domain/chat/presentation/widget/chat_profile_modal.dart
  lib/domain/chat/presentation/widget/profile_image.dart
  lib/domain/chat/presentation/widget/taxi_app_button.dart
Labels: 🔗API, 🎨Style

#40 Feat: 소셜 로그인 api 연결
  .gitignore
  .metadata
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/values/styles.xml
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  ios/.gitignore
  ios/Podfile.lock
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/AppDelegate.swift
  ios/Runner/Info.plist
  lib/common/util/api_client.dart
  lib/domain/landing/model/auth_result.dart
  lib/domain/landing/services/google_auth_service.dart
  lib/domain/landing/services/kakao_auth_service.dart
  lib/domain/landing/view/landing_screen.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
Labels: 🔗API
